<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<mat-toolbar style="background-color:darkcyan; width: 100vw; position: fixed; top: 0;" color="primary">
    <img src="SreeShaaLogo.ico" alt="SreeShaa Logo" style="height: 80px; margin-right: 10px;">
</mat-toolbar>
<br>
<br>
<div style="background-image: url('background.jpg'); background-size: cover; background-position: center; min-height: 100vh;">
    <router-outlet></router-outlet>
</div>
<br>
<br>
<mat-toolbar style="background-color:antiquewhite; width: 100vw; position: fixed; bottom: 0;" color="primary" class="footer">
    <span>&copy; 2025 SreeShaa. All rights reserved.</span>
</mat-toolbar>
