<div class="center-div">
    <span style="font-size: large; color: blueviolet;">Table of Contents</span>
    <ul style="text-align: justify;">
        <li *ngFor="let item of examsList">
        <a [routerLink]="item.link">{{ item.name }}</a>
        <br>
        <br>
        </li>
    </ul>
</div>
<div>
    <p style="font-size: 18px; color: darkslategray; line-height: 1.5; text-align: center; margin-top: 20px;">
        Sreeshaa provides the High Standard Practice Questions, Study Materials, Mock tests, Preparation Strategies for the Aspirants. Get the Full access now and Target for Exams
    </p>
    <br>
    <br>
    <p style="font-size: 18px; text-align: center; margin-top: 20px;"> To get the Full Access, Reach out to WhatsApp Support : <span style="color: red; font-weight: bold;">9177833262</span></p>
</div>

