
<div style="text-align: center;">
    <img src="SreeShaaLogo.ico" alt="Welcome Image" style="width: 100px; height: auto; border-radius: 10px;">
</div>
<h1 style="text-align: center; color:brown;">Welcome to SreeShaa</h1>
<br>
<p style="text-align: center;">Are you passionate about learning, exploring new tech, preparing for exams, or finding the best products in the market? You're in the right place!
</p>

<p style="text-align:center;">
    At Sreeshaa, we bring you a dynamic mix of content: 
    <br>
    <br>
    <!-- <br>
    <button onclick="location.href='/rrbGroupD'" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
        📚 RRB Group D 2025 Preparation
    </button>
    <br> -->
    <br>
    <br>
    <button onclick="location.href='/examList'" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
        📚 All Exams Preparation
    </button>
    <br>
    <br>
    <!-- <button onclick="location.href='/techlearn'" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
        💡 Technology Learning
    </button> -->
   <br>
   <br>
   <!-- <button onclick="location.href='/bestproducts'" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
    🛍️ Best Product Recommendations 
   </button> -->
    <br>
    <br>
    We are here to educate, entertain, and empower you with knowledge that adds value to your life.
    <br>
    ✨ Stay connected, stay informed, and let's grow together! 
</p>

